.Icon{
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    height:48px;
    width:48px;
    font-size:24px;
    font-weight:700
}

.Icon-container-check{
    position:absolute;
    left:24px
}

.Icon-container-check--active{
    color:#4caf50
}

.Icon-container-delete{
    position:absolute;
    top:-12px;
    right:24px;
}

.Icon-container-delete:hover{
    color:red
}

.Icon-svg{
    height:24px;
    width:24px
}

.Icon-container-check:hover .Icon-svg{
    fill:green
}

.Icon-container-delete:hover .Icon-svg{
    fill:red
}